*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  height: 3.7rem; 
  background-color: #0E9D47;
}

.weather-container {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
  padding: 20px 7% 20px 7%;
  flex-direction: column;
  border: 1px solid red;

}

.weather-container__current-weather {
  display: flex;
  flex-direction: column;
  gap: 20px;
}