*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px; 
  background-color: #0E9D47;
}

.top-bar__location-form {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 10px;
}

.top-bar__location-input {
  height: 50%;
  border-radius: 10px;
  text-indent: 10px;
  font-size: 1.25rem;
}

.top-bar__btn {
  height: 50%;
  border-radius: 10px;
  font-size: 20px;
  background-color: #58BF81;
  padding: 0 10px 0 10px;
  border: 0;
}

.top-bar__btn--location {
  background-color: white;
}

.weather-container {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 20px;
  padding: 20px 7% 20px 7%;
  flex-direction: column;
  border: 1px solid red;

}

.weather-container__current-weather {
  display: flex;
  flex-direction: column;
  gap: 20px;
}